@(products: List[models.Product], categories: List[models.Category], user: models.users.User, env: play.api.Environment)

<!-- Pass page title and content {html between braces} to the main view -->
@admin.adminMain("Products", user) {
  <!-- HTML content for the index view -->
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		@if(flash.containsKey("error")) {
			<div class="alert alert-warning">
				@flash.get("error")			
			</div>
		} 


	  <div class="row">
	      <div class="col-sm-2">
	          <h4>Product Categories</h4>
		             <ul class="nav nav-pills nav-stacked">
        			 @for(cat <-categories) {
            			    <li id="TextAlignCenter"><a id="OptionalSecondaryNavbar" href="@controllers.routes.AdminController.products(cat.getId)">@cat.getName()<span class="badge" id="Badge">@cat.getProducts.size()</span></a></li>
           			  }
       			     </ul>
	      </div>
	      <div class="col-sm-8" id="adminProductsWrapper">

	          
		<div id="adminProductsHeader">
			<h2>Edit Products</h2>		
		</div>
		<div id="adminProductsBody">
		

	          	<table class="table table-bordered table-hover table-condensed">
	          		     <thead>
	          			<!-- The header row-->
	          				<tr>
	            					<th>ID</th>
	            					<th>Name</th>
	            					<th>Description</th>
	           					<th>Stock</th>
            						<th>Price</th>
            						<th>Edit</th>
	    						<th>Delete</th>
	         				 </tr>
	          		     </thead>
	          		     <tbody>
	           			 <!-- Product row(s) -->
						<!-- Start of For loop - For each p in products add a row -->
	          		@for(p <- products) {
				        	  <tr>
	                  				  <td>@p.getId</td>
					                  <td>@p.getName</td>	                 
					                  <td>@p.getDescription</td>
					                  
					                  <td>&euro; @("%.2f".format(p.getPrice))</td>
	
				                  <!-- Edit product button -->
					                  <td>
					                      <a href="@routes.AdminController.updateProduct(p.getId)" class="btn-xs btn-danger">
		          				            <span class="glyphicon glyphicon-pencil"></span>
								</a>
	                  				 </td>
	                			  <!-- Delete product button -->
	                				  <td>
	                      					<a href="@routes.AdminController.deleteProduct(p.getId)" class="btn-xs btn-danger"
	                        				onclick="return confirmDel();">
	                        					<span class="glyphicon glyphicon-trash"></span>
	                      					</a>
	                  				</td>
						    </tr>
							} <!-- End of For loop -->
	          			</tbody>
	        		</table>
				<a href="@routes.AdminController.addProduct()" class="btn" id="Buttons">
	           		 Add a Product
	         		</a>
			</div>
		</div>
	        
	          
	        
	      </div>
	  </div>

	</div>
	<div class="col-sm-2">
	</div>
	  <script>
	    // JavaScript function returns true if user clicks yes, otherwise, false
	    function confirmDel() {
	        return confirm('Are you sure?');
	    }
	  </script>

	  <!-- End of content for main -->
	}

