@(listProductForm: Form[models.Product], user: models.users.User, env: play.api.Environment)
@import helper._

@main("Create a Listing", user){


<div class="container">
    @helper.form(action = routes.UserController.productSubmit()) {
<form>
<div class="form-group">
    @inputText(listProductForm("name"),  'class -> "form-control", 'label -> "Email Address",  'placeholder ->"e.g: Unopened original Avengers Comic")
</div>
<div class="form-group">
    @inputText(listProductForm("price"),  'class -> "form-control", 'label -> "Email Address",  'placeholder ->"e.g: €40")
</div>
    <label id="FormLabel">Description</label>
    <textarea row="5" name="description" class="form-control"></textarea>

    @inputText(listProductForm("id"), '_label -> "", 'hidden -> "hidden")

    <!-- cat select -->
    @for((value,name) <- Category.options) {
    <br>
    <label id="FormLabel">@name</label>
    <input type="checkbox" name="catSelect[]" value="@value"
           @if(listProductForm("id").value != null) {
    @if(Category.inCategory(value.toLong,listProductForm("id").value.toLong)) {
    checked
    }
    }
    />
    }



    <input type="submit" value="Make Public" class="btn" id="Buttons">
</form>
</div>
    }

}

