@(user: models.users.User)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Profile", user) {
<!-- SOC -->

<div class="under-logo">
<figure class="figure">
  <img src="https://picsum.photos/250" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="text-center">@user.getUsername() | <a href="@controllers.security.routes.LoginController.logout()"> Logout </a></figcaption>
</figure>
</div>

<div class="container">
<figure class="figure">
  <img src="https://picsum.photos/100" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="text-center">Product &uarr;</figcaption>
</figure>


<figure class="figure">
  <img src="https://picsum.photos/100" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="text-center">Product &uarr;</figcaption>
</figure>



<figure class="figure">
  <img src="https://picsum.photos/100" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="text-center">Product &uarr;</figcaption>
</figure>
</div>






<!-- EOC -->
}
